<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theoplayer.sample.ads.basic"
    tools:ignore="LockedOrientationActivity">

    <!-- In order to play online streams or ads it is needed to add permissions below -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/TheoTheme.Base">

        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/TheoTheme.SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <meta-data
            android:name="THEOPLAYER_LICENSE"
            android:value="sZP7IYe6T6f_IufzIlCc3mzZ3SaoFSaL3DB-ClCkIOzZIQhZTS1KTSIl0uf6FOPlUY3zWokgbgjNIOf9fKCzISU6TSA1FD0k3Dh-3uCt36k6TDxKFSaL3lgeClxe0Q4eIOfVfK4_bQgZCYxNWoryIQXzImf90SCt0Saz3u5i0u5i0Oi6Io4pIYP1UQgqWgjeCYxgflEc3lbi3ueL3LBzTSRiFOPeWok1dDrLYtA1Ioh6TgV6v6fVfKcqCoXVdQjLUOfVfGxEIDjiWQXrIYfpCoj-fgzVfKxqWDXNWG3ybojkbK3gflNWf6E6FOPVWo31WQ1qbta6FOPzdQ4qbQc1sD4ZFK3qWmPUFOPLIQ-LflNWfKXpIwPqdDa6Ymi6bo4pIXjNWYAZIY3LdDjpflNzbG4gya" />

    </application>

</manifest>
